In [3]:
import pandas as pd

In [2]:
df = pd.read_csv('Fish.csv')

df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
df = df.sample(frac=1).reset_index(drop=True)
df

       Species  Weight  Length1  Length2  Length3   Height   Width
0        Perch    51.5     15.0     16.2     17.2   4.5924  2.6316
1        Bream   600.0     29.4     32.0     37.2  15.4380  5.5800
2        Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
3    Whitefish   306.0     25.6     28.0     30.8   8.7780  4.6816
4         Pike   300.0     34.8     37.3     39.8   6.2884  4.0198
..         ...     ...      ...      ...      ...      ...     ...
154      Bream   714.0     32.7     36.0     41.5  16.5170  5.8515
155      Smelt     9.8     11.4     12.0     13.2   2.2044  1.1484
156      Bream   500.0     28.7     31.0     36.2  14.3714  4.8146
157      Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958
158      Perch   145.0     22.0     24.0     25.5   6.3750  3.8250

[159 rows x 7 columns]

In [6]:
df.to_csv("Fish_shuffled.csv", index=False)